* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  background-color: #FFD166;
}

nav a {
  margin-right: 50px;
  color: #06D6A0;
  text-decoration: none;
}
